name = "cheongram-board"
main = ".open-next/worker.js"
compatibility_date = "2025-07-13"
compatibility_flags = ["nodejs_compat"]
routes = [
  { pattern = "crb.kadragon.work", custom_domain = true }
]

[assets]
directory = ".open-next/assets"
binding = "ASSETS"

[[d1_databases]]
binding = "DB"
database_name = "cheongram-board-db"
database_id = "77627225-92c1-4b09-94c9-d9cb6c9fcf88"

